<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <h2>
        Contact Sahifasi
    </h2>
<hr>

<div class="dv1">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam placeat quasi, 
        maxime nostrum minima similique, 
        ratione rerum pariatur nemo enim iusto quas, labore blanditiis! Odit!
    </p>
</div>

<div>
    <a href="/">menu</a>
</div>



</body>
</html>
